<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%- partial('../_partials/head') %>
</head>
<body>

  <%- partial('../_partials/app-body') %>

  <%- partial('../_partials/app-scripts') %>
</body>
</html>