<% layout('_views/application') -%>

<div id="feature-list">
  <div class="form-group">
    <input type="text" class="search form-control input-lg" placeholder="Search" id="search">
  </div>

  <div class="panel">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Votes</th>
          <th>Submitted</th>
        </tr>
      </thead>
      <tbody class="list" id="the-list">

        <tr tabindex="1">
          <td class="title">
            <h3>
              <a href="" tabindex="-1">
                Windows 7 Wunderlist 3 Petition
              </a>
            </h3>
          </td>
          <td class="votes">
            <span>2,132</span>
          </td>
          <td class="submit-date">
            <span>11 months ago</span>
          </td>
        </tr>

        <tr tabindex="1">
          <td class="title">
            <h3>
              <a href="" tabindex="-1">
                Better reminders & notifications
              </a>
            </h3>
          </td>
          <td class="votes">
            <span>1,132</span>
          </td>
          <td class="submit-date">
            <span>11 months ago</span>
          </td>
        </tr>

        <tr tabindex="1">
          <td class="title">
            <h3>
              <a href="" tabindex="-1">
                Assign a start date to a To-Do
              </a>
            </h3>
          </td>
          <td class="votes">
            <span>139</span>
          </td>
          <td class="submit-date">
            <span>11 months ago</span>
          </td>
        </tr>

        <tr tabindex="1">
          <td class="title">
            <h3>
              <a href="" tabindex="-1">
                List of #tags
              </a>
            </h3>
          </td>
          <td class="votes">
            <span>101</span>
          </td>
          <td class="submit-date">
            <span>11 months ago</span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="panel text-center"  id="feature-create" tabindex="1">

    <h1 class="text-muted">+ Add Feature Request</h1>

  </div>

</div>